@media screen and (min-width: 640px) and (max-width: 959px) {
    // header.scss
    header {
        &.collapsed {
            height: 60px;
        }

        &.expanded {
            height: 160px;
        }

        .header-container {
            width: 620px;
        }

        .navigation {
            .navigation-menu {
                display: none;
            }
        }

        .title {
            .logo-fbki {
                .logo-fbki-text {
                    display: none;
                }
            }
        }
        .quick-access {
            .contacts {
                display: none;
            }
            .buttons {
                .button-icon {
                    &.quick-btn-call {
                        display: block;
                    }
                }
            }
        }
    }
    // blocks.sccs
    section#onboarding {
        min-height: 800px;
        max-height: 1080px;

        .landing {
            flex-direction: column;
            align-items: center;
            width: 620px;

            min-width: 620px;

            .lead {
                .lead-buttons {
                    margin-top: 48px;
                }
            }

            .news-important {
                height: fit-content;
                max-height: 320px;

                margin-top: 60px;

                .swiper {
                    width: 620px;
                    max-height: 284px;
                }

                .news-instance {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    .news-cover {
                        width: 280px;
                        height: 196px;

                        margin-right: 24px;
                    }

                    .news-text {
                        width: 316px;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    section#news {
        .news-wrapper {
            width: 620px;
            min-width: 620px;

            .news-grid {
                margin-top: 40px;
                gap: 20px;

                .news-card {
                    width: 300px;

                    .news-cover {
                        width: 300px;
                        height: 210px;
                    }
                }
            }
        }
    }
}
