@import "./../../palette";

.pages-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    .pages-block {
        display: flex;
        position: relative;

        box-sizing: border-box;
        flex-direction: row;

        justify-content: space-between;
        width: 100%;

        &:not(:first-child) {
            margin-top: 28px;
        }

        .card-info {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;

            .title {
                flex-basis: 560px;
                flex-grow: 0;
                flex-shrink: 1;
                color: palette("anti-flash-white", "eerie-black", "~000");
                font-size: 18px;

                font-weight: 500;

                .meta-category {
                    display: block;

                    width: fit-content;
                    margin-bottom: 8px;
                    padding: 4px 8px;
                    border-radius: 4px;
                    background-color: palette(
                        "anti-flash-white",
                        "background",
                        "~000"
                    );
                    color: palette("anti-flash-white", "eerie-black", "+300");
                    font-family: "Golos";

                    font-size: 14px;
                    font-weight: 500;
                }

                .meta-info {
                    display: flex;
                    flex-direction: row;
                    margin-top: 8px;
                    font-family: "Golos_UI";

                    font-size: 14px;
                    font-weight: 400;

                    & > *:not(:first-child) {
                        margin-left: 8px;
                    }

                    .divider {
                        color: palette(
                            "anti-flash-white",
                            "eerie-black",
                            "+300"
                        );
                    }

                    .status {
                        color: palette(
                            "anti-flash-white",
                            "eerie-black",
                            "+300"
                        );

                        &.published {
                            color: palette(
                                "anti-flash-white",
                                "pantone-green",
                                "~000"
                            );
                        }

                        &.deleted {
                            color: palette(
                                "anti-flash-white",
                                "carmine-pink",
                                "~000"
                            );
                        }
                    }

                    .date {
                        color: palette(
                            "anti-flash-white",
                            "eerie-black",
                            "+300"
                        );
                    }
                }
            }

            .image-container {
                position: relative;
                box-sizing: border-box;
                flex-shrink: 0;
                width: 140px;
                height: 98px;

                overflow: hidden;

                border-radius: 10px;

                img {
                    position: absolute;

                    top: 0px;
                    width: 100%;
                    height: 100%;
                    transform: translate3d(0, 0, 0);

                    backface-visibility: hidden;

                    object-fit: cover;
                }
            }
        }

        .card-controls {
            display: flex;

            flex-shrink: 0;
            align-items: center;
            margin-left: 24px;

            & > *:not(:first-child) {
                margin-left: 12px;
            }
        }
    }
}
