.editorconfig
.env
.env.backup
.env.example
.phpunit.result.cache

/.vscode
/node_modules
/tests
/vendor
/.vagrant
/.vscode
/public/assets
/public/hot
/public/storage
/public/files
/public/fonts
/public/css
/public/js
/public/vendor
/public/libraries
/storage/*.key
/composer.lock
/package-lock.json

docker-compose.override.yml
Homestead.yaml
Homestead.json

npm-debug.log
yarn-error.log

dump.sql
workspace.code-workspace
public/mix-manifest.json
public/css/login.css
resources/dumps/old_fulldump.sql
